@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --color-dark-100: rgb(18, 18, 18);
    --color-dark-200: rgb(51, 51, 51);
    --color-alura-100: #167BF7;
    --color-alura-200: #051933;
}