@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --dark-100: rgb(18, 18, 18);
    --dark-200: rgb(51, 51, 51);
    --alura-100: #167BF7;
    --alura-200: #051933;
}